  #message {
            margin-left: 10px;
            margin-top: 50px;
            width: 300px;

        }

  footer{
      margin-bottom: 10px;
  }

  #loginform{
      margin-top: 100px;
      margin-left: 500px;
  }