{% extends 'userchat/base.html' %}
{% block content %}
{% if form.has_errors %}
<p>Your username and password didn't match.
Please try again.</p>
{% endif %}
    <form action="." method="post" id="loginform">
    {% csrf_token %}
        <label >UserName</label>
    <input type="text" placeholder="username" name="username"/> <br/>
      <label>Password</label>
    <input type="password" placeholder="password" name="password"/>
        <br/>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="/userchat/" />
            </form>
{% endblock %}