<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Chat App| {% block title %} {% endblock %}

    </title>
 <link rel="stylesheet" href="{% static  "media/style.css" %}"
          type="text/css"/>
       <link rel="stylesheet" href="{% static  "media/chat.css" %}"
          type="text/css"/>
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
</head>
<body>
<div id="nav">

{% if user.is_authenticated %}
<a href="#">
{{ user.username }}</a> |
<a href="/userchat/logout/">logout</a>
{% else %}
<a href="/userchat/login/">login</a>
{% endif %}
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
<footer>

</footer>
 <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/media/chatjs.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>

</html>