{% extends 'userchat/base.html' %}

{% block content %}

<div id="message">
{% if user.is_authenticated %}
    To write message pick a user:
{% else %}
    In order to send messages please <a href="/userchat/login">Login</a>
{% endif %}
        {% for user in users %}
           <li>
             <input  class="link" type="button" value="{{ user.get_full_name}}">
            </li>
            <br/>
        {% endfor %}
    </div>

{% if user.is_authenticated %}
    {% include 'userchat/msg.html' %}

    {% endif %}
{% endblock %}